@import "compass/utilities/general/clearfix";
@import "compass/css3";

/*reset*************************************************/
body {
  font-family: "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, Helvetica, Verdana, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}
ul{
  margin: 0 1em;
  padding: 0;
}
/*reset*************************************************/

/*colours*************************************************/
$mana:#4880ff;
$saho:#fff7d6;
$azu:#FF9999;
$mori:#33CC66;
$ayano:#CC00FF;
$miko:#CC0000;
$konatsu:#FF66CC;
/*colours*************************************************/

table{
  width: 100%;
  border: 1px solid #000000;
  background-color: #FFFFFF;
  margin: 10px 0;
}
tr th,tr td{
  border: 1px solid #000000;
  padding: 3px 5px;
}

.container{
  @include box-sizing(border-box);
  padding: 0 2%;
  overflow: hidden;
  width: 100%;
}
.mana{
  background-color:$mana;
}
.acArea{
  display: none;
}