@charset "UTF-8";
/*reset*************************************************/
body {
  font-family: "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, Helvetica, Verdana, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0 1em;
  padding: 0;
}

li {
  padding: 3px 0;
  font-size: 14px;
}

dt {
  font-size: 16px;
}

dd {
  margin-bottom: 15px;
}

/*reset*************************************************/
/*colours*************************************************/
/*colours*************************************************/
h1 {
  color: #FFFFFF;
  font-weight: normal;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

.mv {
  width: 100%;
  position: relative;
}

.mv .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.mv .inner p {
  padding-top: 30%;
  margin: 0 auto;
  width: 80%;
  font-size: 24px;
  color: #FFFFFF;
}

.container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 2%;
  overflow: hidden;
  width: 100%;
}

.mana {
  background-color: #4880ff;
}

.saho {
  background-color: #ffff00;
}

.azu {
  background-color: #FF9999;
}

.mori {
  background-color: #33CC66;
}

.ayano {
  background-color: #CC00FF;
}

.miko {
  background-color: #FF0000;
}

.konatsu {
  background-color: #FF66CC;
}

table {
  width: 100%;
  border: 1px solid #333333;
  background-color: #FFFFFF;
  margin: 10px 0;
}

tr th, tr td {
  border: 1px solid #333333;
  padding: 3px 5px;
}

tr.chance td {
  background-color: #ffff00;
}

.ac > dd {
  display: none;
}

section .container {
  display: none;
}
